<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/users.css" rel="stylesheet">

    <title>Users</title>
</head>

<body>
    <%= console.log("locals email "+locals.email) %>
    <%- include('partials/_nav', {Email:locals.userName})%>
    <%- include('partials/_adminSide', {Email:locals.userName,ActiveListings: ActiveListingsAmount,userAmount:Users.length,ArchivedListings:closedListingsAmount})%>
<div class=" flex justify-content-center mt-4 userslist">
        <ul class="list-group list-group-flush">
            <% for(let i=0; i<Users.length;i++) {%>
                <%console.log(Users[i].Banned)%>
                    <li class="list-group-item">
                        <a href="/users/<%=Users[i]._id%>">
                            <%=Users[i].userName%>
                        </a>, <%=Users[i].email%>
                            <%if(!Users[i].isAdmin){%>
                                <button class="button btn btn-warning ms-3" onclick="demoteUser('<%= Users[i]._id%>')"
                                    disabled id="demote-<%= Users[i]._id%>">Demote From Admin</button>
                                <button class="button btn btn-success ms-3" onclick="promoteUser('<%= Users[i]._id%>')"
                                    id="promote-<%= Users[i]._id%>">Promote To Admin</button>
                                <%}else{%>
                                    <button class="button btn btn-warning ms-3"
                                        onclick="demoteUser('<%= Users[i]._id%>')" id="demote-<%= Users[i]._id%>">Demote
                                        From Admin</button>
                                    <button class="button btn btn-success ms-3"
                                        onclick="promoteUser('<%= Users[i]._id%>')" id="promote-<%= Users[i]._id%>"
                                        disabled>Promote To Admin</button>
                                    <%}%>
                                        <%if(Users[i].Banned){%>
                                            <button class="button btn btn-danger ms-3" disabled
                                                id="ban-<%= Users[i]._id%>" onclick="banUser('<%= Users[i]._id%>')">Ban
                                                User</button>
                                            <button class="button btn btn-danger ms-3" id="unban-<%= Users[i]._id%>"
                                                onclick="unbanUser('<%= Users[i]._id%>')">Unban</button>
                                            <%}else{%>
                                                <button class="button btn btn-danger ms-3" id="ban-<%= Users[i]._id%>"
                                                    onclick="banUser('<%= Users[i]._id%>')">Ban User</button>
                                                <button class="button btn btn-danger ms-3" disabled
                                                    id="unban-<%= Users[i]._id%>"
                                                    onclick="unbanUser('<%= Users[i]._id%>')">Unban</button>
                                                <%}%>
                                                    <%}%>
        </ul>

        </div>

        <script src="/scripts/users.js"></script>
</body>

</html>